*{
    z-index: 1;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(196, 196, 196, 0.4);
}


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.filtre{
    margin: 0 100px;
    display: flex;
}

.filtre .trier {
    font-size: 18px;
    color: black;
    font-weight: 700;
    margin-right: 20px;
}

.filtre #select {
    background: #901C1C;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 69px;
    width: 170px;
    padding-left: 20px;
}

.filtre #select option {
    height: 68px;
}

.send_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: not-allowed;
    opacity: 0.3;
    margin-bottom: 40px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 15px;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
    opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}
   
input[data-error]::after {
    content: attr(data-error);
    font-size: 15px;
    color: red;
} 

.headerblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerblock #photographer-details h1{
    font-weight: 400;
    font-size: 64px;
    margin: 0;
    color: #D3573C;
}

.headerblock #photographer-details #location{
    font-size: 24px;
    color: #901C1C;
    font-weight: 400;
}

.headerblock #photographer-details #tagline{
    font-size: 18px;
    color: #525252;
    font-weight: 400;
}


.headerblock img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
}



/*----------------------------------------------------------------------------------
-----------------------MEDIA-----------------------------------------------------
-----------------------------------------------------------------------------------*/

.medias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    margin: auto;
    align-items: center;
    margin-top: 50px;
}

.media-card{
    display: block;
    margin: auto;
}

.media-link .mediaChoice{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
}

.description-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    max-width: 350px;
}

.media-title {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    
}

.likes {
    display: flex;
    align-items: center;
}

.likes .media-likes {
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin: 0 10px 0 0;
}

.likes .fa-heart{
    font-size: 24px;
    color: grey;
    cursor: pointer;
}



.info-price{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    right: 50px;
    width: 376px;
    height: 73px;
    background: #db8876;
    border-radius: 5px 5px 0 0;
    z-index: 100;
}

.info-price .total{
    display: flex;
    align-items: center;
}

.info-price .total .total-likes{
    font-size: 24px;
    font-weight: 500;
    margin-right: 10px;
}

.info-price .total i{
    font-size: 24px;
}

.info-price .price{
    font-size: 24px;
    font-weight: 500;
}